h1{ 
    font-family: 'Palatino Linotype', sans-serif;
    
  
  }
  
  h2{
    font-family: 'Palatino Linotype', sans-serif;
    
    
  }
  
  h3{
    font-family: 'Book Antiqua', sans-serif;
    
  }
  
  h4{
    font-family: 'Book Antiqua', sans-serif;
    
  }
  
  h5{
    font-family: 'Book Antiqua', sans-serif;
    
  }

  p {
    font-family: 'Book Antiqua', sans-serif;
    
  
  }
  
.nav-item{
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

.nav-link:hover{
  color: red !important;
  text-decoration: underline;
}

/*body {
    background-image: url("home.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}*/
.navbar-toggler {
    background-color:cadetblue;
}


.navbar {
    background-color:rgb(252, 254, 255);
    opacity: 75%;
}

.caro-img {
    height: 100%;
    width: 100%;
}


.carousel-control-prev, .carousel-control-next {
    opacity: 100%;
}

.container {
    text-align: center;
    margin-top: 15px;
}

/*.centered-button1{
    position: absolute;
    top: 85%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-color: white;
    color: white;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 250px;
    height: 50px;
}

.centered-button2{
    position: absolute;
    top: 85%;
    right: 25%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-color: white;
    color: white;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 250px;
    height: 50px;
  }*/

  .btn-container {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .btn-container .btn {
    background-color: transparent;
    border-color: white;
    color: white;
    width: 300px;
    margin: 10px
  }

  .footer {
    background-color:rgb(177, 5, 50);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.social-icons {
    margin-top: 0px;
  }
  .social-icons a {
    margin: 0 10px;
    color:rgb(255, 255, 255);
    font-size: 30px;
  }

  .contact-icons {
    text-align: left;
}

