* {
    font-family: "Orbitron", sans-serif;
}

body {
    background-size: cover;
    background-attachment: fixed;
}

/* navbar start */

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(161, 13, 60);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: black;
}

/* navbar end */

.main2 {
    margin-left: 250px;
    /* Same as the width of the sidenav */
    font-size: 30px;
    /* Increased text to enable scrolling */
    padding: 0px 30px;
    color: rgb(255, 26, 77);
}

.main2 .card{
    background-color: rgb(255, 26, 77);
}

.main2 h2 .card-title{
    font-size: 20px; 
    color: black;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}